<div class="col-xs-12">
  <h2 *ngIf="!isNewRule">Edit Rule {{ruleIndex}}</h2>
  <h2 *ngIf="isNewRule">Create Rule</h2>
  <form>
    <div class="form-group">
      <label for="ruleName">Name</label>
      <input type="text" id="ruleName" value="{{ruleName}}" class="form-control" required>

      <label for="desc">Description</label>
      <input type="text" id="ruleDesc" value="{{ruleDesc}}" class="form-control" required>
    </div>

    <mat-form-field class="example-chip-list" appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
          {{tag}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="New tag..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </form>

  <!-- Drag&Drop for Conditions -->
  <div class="conditions-container">
    <mat-label>Conditions</mat-label>
    <div cdkDropListGroup>
      <!-- Possible Conditions -->
      <div 
        cdkDropList
        cdkDropListOrientation="horizontal"
        cdkDropListSortingDisabled
        #possibleActionsList="cdkDropList"
        [cdkDropListData]="possibleConditions"
        class="condition-list"
        id="droplist-possible-conditions">
        <div class="condition-box" *ngFor="let item of possibleConditions" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{item.name}}
        </div>
      </div>
      <!-- Chosen Conditions -->
      <div
        *ngFor="let conditionBlock of chosenConditionsMap.keys()"
        cdkDropList
        #chosenActionsList="cdkDropList"
        [cdkDropListData]="chosenConditionsMap.get(conditionBlock)"
        class="condition-list chosen"
        (cdkDropListDropped)="dropCondition($event)">
        <div class="condition-box chosen" *ngFor="let item of chosenConditionsMap.get(conditionBlock)" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          <div class="condition-params" *ngIf="item.name==='existence'">
            <strong>Check for Existence</strong>
            <br>
            <input type="checkbox" value="{{item.negated}}" tooltip="Condition Negated?">
            <input type="text" value="{{item.params[0]}}" placeholder="field to check">
          </div>
          <div class="condition-params" *ngIf="item.name==='checkedFilled'">
            <strong>Check if Checked or Filled</strong>
            <br>
            <input type="checkbox" value="{{item.negated}}" tooltip="Condition Negated?">
            <input type="text" value="{{item.params[0]}}" placeholder="field to check">
          </div>
          <div class="condition-params" *ngIf="item.name==='comparison'">
            <strong>Comparison</strong>
            <br>
            <input type="checkbox" value="{{item.negated}}" tooltip="Condition Negated?">
            <input type="text" value="{{item.params[0]}}" placeholder="variable/field">
            <select>
              <option value="&gt;" [selected]="item.params[1]==='&gt;'">&gt;</option>
              <option value="&lt;" [selected]="item.params[1]==='&lt;'">&lt;</option>
              <option value="=" [selected]="item.params[1]==='='">=</option>
              <option value="≥" [selected]="item.params[1]==='≥'">≥</option>
              <option value="≤" [selected]="item.params[1]==='≤'">≤</option>
              <option value="≠" [selected]="item.params[1]==='≠'">≠</option>
            </select>
            <input type="text" value="{{item.params[2]}}" placeholder="variable/field">
            <input type="text" value="{{item.params[3]}}" placeholder="factor">
          </div>
          <div class="condition-params" *ngIf="item.name==='prefix'">
            <strong>Check Prefix</strong>
            <br>
            <input type="checkbox" value="{{item.negated}}" tooltip="Condition Negated?">
            <input type="text" value="{{item.params[0]}}" placeholder="field to check">
            <input type="text" value="{{item.params[1]}}" placeholder="prefix">
          </div>
          <div class="condition-params" *ngIf="item.name==='regex'">
            <strong>Check Regex</strong>
            <br>
            <input type="checkbox" value="{{item.negated}}" tooltip="Condition Negated?">
            <input type="text" value="{{item.params[0]}}" placeholder="field to check">
            <input type="text" value="{{item.params[1]}}" placeholder="regex">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Drag&Drop for Actions -->
  <div class="actions-container">
    <mat-label>Actions</mat-label>
    <div cdkDropListGroup>
      <div 
        cdkDropList 
        cdkDropListOrientation="horizontal" 
        cdkDropListSortingDisabled 
        #possibleActionsList="cdkDropList"
        [cdkDropListData]="possibleActions" 
        class="action-list">
        <div class="action-box" *ngFor="let item of possibleActions" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{item.name}}
        </div>
      </div>
      <div 
        cdkDropList
        #chosenActionsList="cdkDropList"
        [cdkDropListData]="chosenActions"
        class="action-list chosen"
        (cdkDropListDropped)="dropAction($event)">
        <div class="action-box chosen" *ngFor="let item of chosenActions" cdkDrag>
          <div class="drag-placeholder" *cdkDragPlaceholder></div>

          <div class="action-params" *ngIf="item.name==='changeValue'">
            <strong>Change Value</strong>
            <br>
            <input type="text" value="{{item.params[0]}}" placeholder="affected variable">
            <select id="selectedOperator">
              <option value="+" [selected]="item.params[1]==='+'">+</option>
              <option value="-" [selected]="item.params[1]==='-'">-</option>
              <option value="*" [selected]="item.params[1]==='*'">*</option>
              <option value="/" [selected]="item.params[1]==='/'">/</option>
              <option value="=" [selected]="item.params[1]==='='">=</option>
              <option value="REM" [selected]="item.params[1]==='REM'">REM</option>
              <option value="APP" [selected]="item.params[1]==='APP'">APP</option>
            </select>
            <input type="text" value="{{item.params[2]}}" placeholder="value/input field">
          </div>

          <div class="action-params" *ngIf="item.name==='warning'">
            <strong>Warning</strong>
            <br>
            <input type="text" value="{{item.params[0]}}" placeholder="Message">
            <select id="selectedOperator">
              <option value="Informational" [selected]="item.params[1]==='Informational'">Informational</option>
              <option value="Reminder" [selected]="item.params[1]==='Reminder'">Reminder</option>
              <option value="Critical" [selected]="item.params[1]==='Critical'">Critical</option>
            </select>
          </div>

          <div class="action-params" *ngIf="item.name==='addAttribute'">
            <strong>Add Attribute</strong>
            <br>
            <input type="text" value="{{item.params[0]}}" placeholder="Attribute Name">
            <input type="text" value="{{item.params[1]}}" placeholder="Value">
          </div>

          <div class="action-params" *ngIf="item.name==='setRegex'">
            <strong>Apply Regular Expression</strong>
            <br>
            <input type="text" value="{{item.params[0]}}" placeholder="Variable/Field">
            <input type="text" value="{{item.params[1]}}" placeholder="Regular Expression">
          </div>

          <div class="action-params" *ngIf="item.name==='advancedCalculation'">
            <strong>Advanced Calculation</strong>
            <br>
            <input type="text" value="{{item.params[0]}}" placeholder="Expression">
          </div>

        </div>
      </div>
    </div>
  </div>

  <button mat-stroked-button color="primary" (click)="saveAndBack()" class="window_button">
    <mat-icon>save</mat-icon>Save
  </button>
  <button mat-flat-button color="warn" (click)="onBacktoRuleList()" class="window_button">
    <mat-icon>close</mat-icon>Cancel
  </button>
</div>