<div class="col-xs-12">
    <h2 *ngIf="!isNewRule">Edit Rule</h2>
    <h2 *ngIf="isNewRule">Create Rule</h2>
    <p *ngIf="!isNewRule">Rule Number {{ruleIndex}} is being edited!</p>
    <form>
        <div class="form-group">
            <label for="ruleName">Name</label>
            <input
              type="text"
              id="ruleName"
              value="{{ruleName}}"
              class="form-control">
           
        </div>

        <div class="form-group">
            <label for="desc">Description</label>
            <input
              type="text"
              id="ruleDesc"
              value="{{ruleDesc}}"
              class="form-control">
           
        </div>

        <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Tags</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                {{tag}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="New tag..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        

    </form>

    <div class="actions-container">
      <mat-label>Possible Actions</mat-label>
      <div
        cdkDropList
        cdkDropListOrientation = "horizontal"
        cdkDropListSortingDisabled
        #possibleActionsList="cdkDropList"
        [cdkDropListData]="possibleActions"
        [cdkDropListConnectedTo]="[chosenActionsList]"
        class="action-list"
        (cdkDropListDropped)="drop($event)">
          <div class="action-box" *ngFor="let item of possibleActions" cdkDrag>{{item.name}}</div>
      </div>

      <mat-label>Chosen Actions</mat-label>
      <div
        cdkDropList
        #chosenActionsList="cdkDropList"
        [cdkDropListData]="chosenActions"
        [cdkDropListConnectedTo]="[possibleActionsList]"
        class="action-list chosen"
        (cdkDropListDropped)="drop($event)">
        <div class="action-box chosen" *ngFor="let item of chosenActions" cdkDrag>{{item.name}}</div>
      </div>

    </div>

    <button mat-stroked-button color="primary" (click)="onBacktoRuleList()" class="window_button"><mat-icon>save</mat-icon> Save</button>
    <button mat-flat-button color="warn" (click)="onBacktoRuleList()" class="window_button"><mat-icon>close</mat-icon>Cancel</button>
</div>
