<div class="row" [ngStyle]="{backgroundColor: ruleIndex%2===0 ? 'rgb(212, 212, 212)':'rgb(150, 150, 150)'}">
    <div class="col-xs-1"> <button class="btn" (click)="onDetailsShow()"><span class="caret"></span></button></div>
    <div class="col-xs-10">
        <p><strong> Rule Number {{ruleIndex}}</strong></p>
        <p>If $item_price equals 1000 and checkbox_a is checked or $item_price is less then 800 and checkbox_b is checked then set $item_price to 1200</p>
        <div 
            class="col-xs-8"
            *ngIf="details">
            <p><strong>Name:</strong>  Rule Number {{ruleIndex}} </p>
            <p><strong>Last edited by: </strong>{{employeeEdit}}, {{timeNow | date:'short'}}</p>
            <p><strong>Created by: </strong>{{employeeCreate}}</p>
            <p><strong>Categories</strong></p>
            <button mat-stroked-button color="primary" (click)="onRuleEdit()">Edit</button>
            <button mat-flat-button color="warn">Delete</button>
        </div>
        
        
        
       
    </div>
</div>