<div 
    class="row" 
    [ngStyle]="{backgroundColor: ruleIndex%2===0 ? '#eaeeff':'#c6d2ff'}">

    <div class="col-xs-1" > 
        <button class="btn" (click)="onDetailsShow()">
            <mat-icon *ngIf="!details">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="details">keyboard_arrow_up</mat-icon>
        </button>
    </div>
    <div class="col-xs-10">
        <p><strong> {{ruleName}} </strong></p>
        <p> {{ ruleDesc}}</p>
        <div 
            class="col-xs-8"
            id="ruleMeta"
            *ngIf="details">
            <p><strong>Name:</strong> {{ruleName}} </p>
            <p><strong>Last edited by: </strong>{{employeeEdit}}, {{timeEdit}}</p>
            <p><strong>Created by: </strong>{{employeeCreate}}, {{timeCreate}}</p>
            <p><strong>Categories</strong></p>
            <button mat-stroked-button color="primary" (click)="onRuleEdit()" id="edit"><mat-icon>edit</mat-icon>Edit</button>
            <button mat-flat-button color="warn" id="delete"><mat-icon>delete</mat-icon>Delete</button>
        </div>
    </div>
</div>