<app-header></app-header>
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <app-nav-tree></app-nav-tree>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-raised-button (click)="sidenav.toggle()">{{opened? '&lt;': '&gt;'}}</button>

        <div class="row">
            <div class="col-md-6">
                <router-outlet></router-outlet>
                <hr>
            </div>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>



